@use "variables" as *;
@use "mixins";

.modal {
  @include mixins.sublayer;
  position: absolute;
  display: none;
  justify-content: center;
  background-color: $overlayBackground;
  z-index: 100;
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-sizing: border-box;

  &_active {
    display: flex;
  }

  &__actions {
    @include mixins.flex(row);
    align-items: center;
    gap: 2rem;
  }

  &__container {
    @include mixins.container;
    @include mixins.flex(column);
    gap: $defaultPadding;
    background-color: $background;
    border-radius: 3rem;
    box-sizing: border-box;
  }

  &__content {
    flex-grow: 1;
  }

  &__close {
    position: absolute;
    top: calc(#{$defaultPadding} / 2);
    right: calc(#{$defaultPadding} / 2);
    @include mixins.icon(2rem, 'close');
    @include mixins.link(white, $hover);
  }
}